{% extends "base.html" %}
	{% block content %}
	    	<div class="question row">
	    		<div class="col-md-2">
	    			<a href = "question.html">
	    				<img class = "post_av img-fluid img-rounded cust_av" src = "/static/img/usrid.jpg">
	    			</a>
	    			<a class = like></a> 138 <a class = dislike></a> 
	    		</div>

	    		<div class="col-md-10">
	    			<div class="q-title">  
	    				<a href="/question"><h4>Почему герои мультфильмов Диснея носят белые перчатки?</a>
	    			</div>

    				Вы задумывались, почему персонажи в мультфильмах Диснея носят белые перчатки?
           			Мы в AdMe.ru решили прояснить эту загадку и сделали несколько удивительных открытий.
           			<a class="learn-more" href="question.html">Читать далее...</a>
           			<br>

           			<div class="tags">
        				<a href="#">answer(3)</a>
        				Tags: <a href="#">bender</a> <a href="tag_disney.html">disney</a>
                	</div>
           		</div>
	    	</div>
	{% endblock %}