{%extends "base.html"%}
{%block content%}
	     <h3>
	     	Question_name
	     </h3>
	     	<!--QUESTION BLOCK-->
	    	<div class="question row">
	    		<div class="col-md-2">
	    			<a href = "question.html">
	    				<img class = "post_av img-fluid img-rounded cust_av" src = "/static/img/usrid.jpg">
	    			</a>
	    			<a class = like></a> 138 <a class = dislike></a> 
	    		</div>

	    		<div class="col-md-10">
	    			<div class="q-title">  
	    				<a href=""><h4>Почему герои мультфильмов Диснея носят белые перчатки?</h4></a>
	    			</div>

    				Вы задумывались, почему персонажи в мультфильмах Диснея носят белые перчатки?
           			Мы в AdMe.ru решили прояснить эту загадку и сделали несколько удивительных открытий.
           			<a class="learn-more" href="question.html">Читать далее...</a>
           			<br>

           			<div class="tags">
        				
        				Tags: <a href="#">bender</a> <a href="tag_disney.html">disney</a>
                	</div>
           		</div>
	    	</div>
			<!--EOF QUESTION BLOCK-->
	     	<div class="col-md-1">

	     	</div>

	     	<div class="col-md-11"><!--ANSWERS-->
		     	<div class="question row">
		    		<div class="col-md-2">
		    			<a href = "question.html">
		    				<img class = "post_av img-fluid img-rounded cust_av" src = "/static/img/usrid.jpg">
		    			</a>
		    			<a class = like></a> 138 <a class = dislike></a> 
		    		</div>

		    		<div class="col-md-10">
		    			<div class="q-title">  
		    				<a href="question.html"><h4>Почему герои мультфильмов Диснея носят белые перчатки?</a>
		    			</div>

	    				Вы задумывались, почему персонажи в мультфильмах Диснея носят белые перчатки?
	           			Мы в AdMe.ru решили прояснить эту загадку и сделали несколько удивительных открытий.
	           			<a class="learn-more" href="question.html">Читать далее...</a>
	           			<br>

	           			<div class="tags">
	        				<button type="submit" class="btn btn-primary">Correct!</button>
	                	</div>
	           		</div>
		    	</div>
				<!--EOF QUESTION BLOCK-->
		     	<!--QUESTION BLOCK-->
		    	<div class="question row">
		    		<div class="col-md-2">
		    			<a href = "question.html">
		    				<img class = "post_av img-fluid img-rounded cust_av" src = "/static/img/usrid.jpg">
		    			</a>
		    			<a class = like></a> 138 <a class = dislike></a> 
		    		</div>

		    		<div class="col-md-10">
		    			<div class="q-title">  
		    				<a href="question.html"><h4>Почему герои мультфильмов Диснея носят белые перчатки?</a>
		    			</div>

	    				Вы задумывались, почему персонажи в мультфильмах Диснея носят белые перчатки?
	           			Мы в AdMe.ru решили прояснить эту загадку и сделали несколько удивительных открытий.
	           			<a class="learn-more" href="question.html">Читать далее...</a>
	           			<br>

	           			
	           			<div class="tags">
	        				<button type="submit" class="btn btn-primary">Correct!</button>
	                	</div>
	           		</div>
		    	</div>
				<!--EOF QUESTION BLOCK-->
				<fieldset class="new_question">
					<div class="form-group">
    					<label class="control-label col-xs-2" for="postalAddress">Text</label>
    					<div class="col-xs-9">
      						<textarea rows="10" class="form-control" id="postalAddress" ></textarea>
    					</div>
    				</div>


    				<div class="form-group">
      					<div class="col-xs-offset-2 col-xs-9">
        					<button type="submit" class="btn btn-primary ans_button">Answer!</button>
      					</div>
    				</div>

  				</fieldset>

	     	</div><!--EOF ANSWERS-->
{%endblock%}